bybit:
  alt_base_url: https://api.bytick.com
  api_key: ${BYBIT_API_KEY}
  api_secret: ${BYBIT_API_SECRET}
  base_url: https://api.bybit.com
  use_alt_on_fail: true
  ws_public: wss://stream.bybit.com/v5/public/linear
  ws_public_alt: wss://stream.bytick.com/v5/public/linear
execution:
  enabled: true
  entry_slippage_pct: 0.0003
  fee_pct: 0.0006
indicators:
  atr_period: 14
  ema_periods:
  - 200
  rsi_period: 14
legacy:
  partial_take_profit: false
  scalp_mode: false
  trailing_stop: false
  volume_filter: false
  vwap_filter: false
monitoring:
  health_check: true
  heartbeat_interval_sec: 3600
notifications:
  daily_summary: true
  entry: true
  exit: true
  pending_signals: true
  startup: true
risk:
  max_concurrent_positions: 10
  max_daily_loss: 0.05
  max_position_size_pct: 0.1
  risk_per_trade: 0.01
strategy:
  entry_params:
    max_wait_candles: 6
    require_bos: true
  exit_params:
    sl_atr_mult: 1.0
  name: 1h_robust_79_symbols
  signal_params:
    lookback_bars: 10
    min_pivot_distance: 3
    pivot_right: 3
    rsi_period: 14
  timeframe: '60'
  trend_filter:
    daily_ema_proxy: 200
    enabled: true
symbols:
  MINAUSDT:
    enabled: true
    rr: 10.0
  SUIUSDT:
    enabled: true
    rr: 10.0
  STGUSDT:
    enabled: true
    rr: 10.0
  GOATUSDT:
    enabled: true
    rr: 9.0
  ACTUSDT:
    enabled: true
    rr: 8.0
  ANIMEUSDT:
    enabled: true
    rr: 10.0
  MOVRUSDT:
    enabled: true
    rr: 9.0
  POWRUSDT:
    enabled: true
    rr: 10.0
  BROCCOLIUSDT:
    enabled: true
    rr: 7.0
  BANANAUSDT:
    enabled: true
    rr: 9.0
  HAEDALUSDT:
    enabled: true
    rr: 7.0
  FUSDT:
    enabled: true
    rr: 9.0
  MANTAUSDT:
    enabled: true
    rr: 6.0
  SPKUSDT:
    enabled: true
    rr: 7.0
  PNUTUSDT:
    enabled: true
    rr: 10.0
  EGLDUSDT:
    enabled: true
    rr: 8.0
  SUSHIUSDT:
    enabled: true
    rr: 6.0
  SWARMSUSDT:
    enabled: true
    rr: 9.0
  SKYUSDT:
    enabled: true
    rr: 9.0
  1000TOSHIUSDT:
    enabled: true
    rr: 10.0
  PHAUSDT:
    enabled: true
    rr: 7.0
  DYDXUSDT:
    enabled: true
    rr: 6.0
  ARKMUSDT:
    enabled: true
    rr: 8.0
  MEUSDT:
    enabled: true
    rr: 9.0
  INJUSDT:
    enabled: true
    rr: 7.0
  JUPUSDT:
    enabled: true
    rr: 10.0
  BERAUSDT:
    enabled: true
    rr: 7.0
  GRIFFAINUSDT:
    enabled: true
    rr: 4.0
  HBARUSDT:
    enabled: true
    rr: 10.0
  VANRYUSDT:
    enabled: true
    rr: 10.0
  TWTUSDT:
    enabled: true
    rr: 9.0
  HIVEUSDT:
    enabled: true
    rr: 10.0
  BOMEUSDT:
    enabled: true
    rr: 9.0
  LDOUSDT:
    enabled: true
    rr: 8.0
  MOVEUSDT:
    enabled: true
    rr: 9.0
  BELUSDT:
    enabled: true
    rr: 8.0
  RAREUSDT:
    enabled: true
    rr: 10.0
  KAITOUSDT:
    enabled: true
    rr: 7.0
  DOLOUSDT:
    enabled: true
    rr: 10.0
  DGBUSDT:
    enabled: true
    rr: 9.0
  1000NEIROCTOUSDT:
    enabled: true
    rr: 4.0
  USTCUSDT:
    enabled: true
    rr: 10.0
  AEROUSDT:
    enabled: true
    rr: 9.0
  GRTUSDT:
    enabled: true
    rr: 8.0
  TAIKOUSDT:
    enabled: true
    rr: 7.0
  KSMUSDT:
    enabled: true
    rr: 9.0
  VELODROMEUSDT:
    enabled: true
    rr: 10.0
  LSKUSDT:
    enabled: true
    rr: 10.0
  ENJUSDT:
    enabled: true
    rr: 9.0
  FLUXUSDT:
    enabled: true
    rr: 10.0
  KASUSDT:
    enabled: true
    rr: 9.0
  ICPUSDT:
    enabled: true
    rr: 6.0
  RLCUSDT:
    enabled: true
    rr: 8.0
  FIDAUSDT:
    enabled: true
    rr: 7.0
  FLOCKUSDT:
    enabled: true
    rr: 6.0
  PYTHUSDT:
    enabled: true
    rr: 5.0
  SYSUSDT:
    enabled: true
    rr: 9.0
  SOPHUSDT:
    enabled: true
    rr: 6.0
  AAVEUSDT:
    enabled: true
    rr: 8.0
  ADAUSDT:
    enabled: true
    rr: 7.0
  BABYUSDT:
    enabled: true
    rr: 10.0
  RONINUSDT:
    enabled: true
    rr: 7.0
  AIXBTUSDT:
    enabled: true
    rr: 10.0
  BRETTUSDT:
    enabled: true
    rr: 6.0
  SLPUSDT:
    enabled: true
    rr: 8.0
  NEARUSDT:
    enabled: true
    rr: 7.0
  LRCUSDT:
    enabled: true
    rr: 7.0
  ASTERUSDT:
    enabled: true
    rr: 9.0
  MELANIAUSDT:
    enabled: true
    rr: 4.0
  BTCUSDT:
    enabled: true
    rr: 8.0
  SOLAYERUSDT:
    enabled: true
    rr: 10.0
  VELOUSDT:
    enabled: true
    rr: 7.0
  RAYDIUMUSDT:
    enabled: true
    rr: 8.0
  SYNUSDT:
    enabled: true
    rr: 9.0
  ONDOUSDT:
    enabled: true
    rr: 9.0
  OMUSDT:
    enabled: true
    rr: 7.0
  UBUSDT:
    enabled: true
    rr: 9.0
  ANKRUSDT:
    enabled: true
    rr: 9.0
  ALGOUSDT:
    enabled: true
    rr: 9.0
  BIOUSDT:
    enabled: true
    rr: 5.0
  BOBAUSDT:
    enabled: true
    rr: 10.0
  STEEMUSDT:
    enabled: true
    rr: 10.0
  DOGEUSDT:
    enabled: true
    rr: 6.0
  RENDERUSDT:
    enabled: true
    rr: 9.0
  ASTRUSDT:
    enabled: true
    rr: 8.0
  1INCHUSDT:
    enabled: true
    rr: 9.0
  PENGUUSDT:
    enabled: true
    rr: 4.0
  HIPPOUSDT:
    enabled: true
    rr: 9.0
  PORTALUSDT:
    enabled: true
    rr: 8.0
  DIAUSDT:
    enabled: true
    rr: 9.0
  DEEPUSDT:
    enabled: true
    rr: 4.0
  GIGAUSDT:
    enabled: true
    rr: 6.0
  TOWNSUSDT:
    enabled: true
    rr: 7.0
  HYPERUSDT:
    enabled: true
    rr: 5.0
  TUSDT:
    enabled: true
    rr: 10.0
  STOUSDT:
    enabled: true
    rr: 7.0
  SXPUSDT:
    enabled: true
    rr: 8.0
  USUALUSDT:
    enabled: true
    rr: 7.0
  MANAUSDT:
    enabled: true
    rr: 5.0
  LINKUSDT:
    enabled: true
    rr: 9.0
  SUNUSDT:
    enabled: true
    rr: 8.0
  ENAUSDT:
    enabled: true
    rr: 8.0
  QNTUSDT:
    enabled: true
    rr: 8.0
  NSUSDT:
    enabled: true
    rr: 10.0
  SOMIUSDT:
    enabled: true
    rr: 10.0
  COTIUSDT:
    enabled: true
    rr: 10.0
  ONEUSDT:
    enabled: true
    rr: 6.0
  SCUSDT:
    enabled: true
    rr: 9.0
  ARPAUSDT:
    enabled: true
    rr: 8.0
  MEMEUSDT:
    enabled: true
    rr: 4.0
  IMXUSDT:
    enabled: true
    rr: 10.0
  ACEUSDT:
    enabled: true
    rr: 7.0
  LUNA2USDT:
    enabled: true
    rr: 8.0
  AKTUSDT:
    enabled: true
    rr: 6.0
  COREUSDT:
    enabled: true
    rr: 6.0
  PROVEUSDT:
    enabled: true
    rr: 5.0
  DOGUSDT:
    enabled: true
    rr: 10.0
  10000ELONUSDT:
    enabled: true
    rr: 10.0
  BIGTIMEUSDT:
    enabled: true
    rr: 10.0
  IOSTUSDT:
    enabled: true
    rr: 5.0
  GPSUSDT:
    enabled: true
    rr: 7.0
  MAVIAUSDT:
    enabled: true
    rr: 7.0
  DUSKUSDT:
    enabled: true
    rr: 10.0
  FILUSDT:
    enabled: true
    rr: 5.0
  OGNUSDT:
    enabled: true
    rr: 4.0
  STRKUSDT:
    enabled: true
    rr: 7.0
  ORDIUSDT:
    enabled: true
    rr: 8.0
  SHELLUSDT:
    enabled: true
    rr: 5.0
  HUMAUSDT:
    enabled: true
    rr: 10.0
  CROUSDT:
    enabled: true
    rr: 9.0
  ARUSDT:
    enabled: true
    rr: 8.0
  PIXELUSDT:
    enabled: true
    rr: 10.0
  AUCTIONUSDT:
    enabled: true
    rr: 8.0
  THETAUSDT:
    enabled: true
    rr: 8.0
  FWOGUSDT:
    enabled: true
    rr: 6.0
  SAFEUSDT:
    enabled: true
    rr: 10.0
  COOKUSDT:
    enabled: true
    rr: 8.0
  1000CATUSDT:
    enabled: true
    rr: 7.0
  AWEUSDT:
    enabled: true
    rr: 10.0
  BICOUSDT:
    enabled: true
    rr: 6.0
  ALPINEUSDT:
    enabled: true
    rr: 10.0
  API3USDT:
    enabled: true
    rr: 9.0
  ESPORTSUSDT:
    enabled: true
    rr: 9.0
  GASUSDT:
    enabled: true
    rr: 10.0
  REDUSDT:
    enabled: true
    rr: 10.0
  DOTUSDT:
    enabled: true
    rr: 6.0
  CVXUSDT:
    enabled: true
    rr: 6.0
  GMXUSDT:
    enabled: true
    rr: 9.0
  SCRTUSDT:
    enabled: true
    rr: 4.0
  GMTUSDT:
    enabled: true
    rr: 10.0
  COWUSDT:
    enabled: true
    rr: 9.0
  CGPTUSDT:
    enabled: true
    rr: 10.0
  ARBUSDT:
    enabled: true
    rr: 9.0
  RPLUSDT:
    enabled: true
    rr: 6.0
  ROSEUSDT:
    enabled: true
    rr: 6.0
  1000TURBOUSDT:
    enabled: true
    rr: 7.0
  CHZUSDT:
    enabled: true
    rr: 8.0
  HMSTRUSDT:
    enabled: true
    rr: 5.0
  THEUSDT:
    enabled: true
    rr: 10.0
  ACXUSDT:
    enabled: true
    rr: 5.0
  1000LUNCUSDT:
    enabled: true
    rr: 6.0
  BANUSDT:
    enabled: true
    rr: 6.0
  TRBUSDT:
    enabled: true
    rr: 4.0
  TRUMPUSDT:
    enabled: true
    rr: 10.0
  SUSDT:
    enabled: true
    rr: 7.0
  RESOLVUSDT:
    enabled: true
    rr: 5.0
  AVAXUSDT:
    enabled: true
    rr: 8.0
  SONICUSDT:
    enabled: true
    rr: 6.0
  AVAAIUSDT:
    enabled: true
    rr: 7.0
  DEGENUSDT:
    enabled: true
    rr: 10.0
  INUSDT:
    enabled: true
    rr: 8.0
  JASMYUSDT:
    enabled: true
    rr: 8.0
  RUNEUSDT:
    enabled: true
    rr: 4.0
  SQDUSDT:
    enabled: true
    rr: 4.0
  IOTXUSDT:
    enabled: true
    rr: 9.0
  FARTCOINUSDT:
    enabled: true
    rr: 7.0
  ATOMUSDT:
    enabled: true
    rr: 7.0
  PROMPTUSDT:
    enabled: true
    rr: 9.0
  STXUSDT:
    enabled: true
    rr: 5.0
  ALICEUSDT:
    enabled: true
    rr: 9.0
  10000QUBICUSDT:
    enabled: true
    rr: 6.0
  VELVETUSDT:
    enabled: true
    rr: 4.0
  BATUSDT:
    enabled: true
    rr: 4.0
  APEUSDT:
    enabled: true
    rr: 8.0
  BNTUSDT:
    enabled: true
    rr: 6.0
  PEOPLEUSDT:
    enabled: true
    rr: 5.0
  ORBSUSDT:
    enabled: true
    rr: 9.0
  BEAMUSDT:
    enabled: true
    rr: 10.0
  STBLUSDT:
    enabled: true
    rr: 4.0
  SPXUSDT:
    enabled: true
    rr: 10.0
  CUDISUSDT:
    enabled: true
    rr: 9.0
  FLRUSDT:
    enabled: true
    rr: 10.0
  UNIUSDT:
    enabled: true
    rr: 9.0
  OPENUSDT:
    enabled: true
    rr: 9.0
  FLOWUSDT:
    enabled: true
    rr: 4.0
  KNCUSDT:
    enabled: true
    rr: 9.0
  PUFFERUSDT:
    enabled: true
    rr: 8.0
  PENDLEUSDT:
    enabled: true
    rr: 6.0
  SANDUSDT:
    enabled: true
    rr: 10.0
  POLUSDT:
    enabled: true
    rr: 5.0
  PARTIUSDT:
    enabled: true
    rr: 10.0
  MOODENGUSDT:
    enabled: true
    rr: 6.0
  TNSRUSDT:
    enabled: true
    rr: 6.0
  AGIUSDT:
    enabled: true
    rr: 9.0
  LAUSDT:
    enabled: true
    rr: 4.0
  10000SATSUSDT:
    enabled: true
    rr: 4.0
  COOKIEUSDT:
    enabled: true
    rr: 9.0
  SIRENUSDT:
    enabled: true
    rr: 8.0
  ETHFIUSDT:
    enabled: true
    rr: 10.0
  TLMUSDT:
    enabled: true
    rr: 5.0
  IOUSDT:
    enabled: true
    rr: 5.0
  GODSUSDT:
    enabled: true
    rr: 10.0
  DOODUSDT:
    enabled: true
    rr: 6.0
  AVAUSDT:
    enabled: true
    rr: 4.0
  SEIUSDT:
    enabled: true
    rr: 8.0
  CELOUSDT:
    enabled: true
    rr: 7.0
  ICXUSDT:
    enabled: true
    rr: 8.0
  1000000BABYDOGEUSDT:
    enabled: true
    rr: 5.0
  AIOUSDT:
    enabled: true
    rr: 7.0
  JSTUSDT:
    enabled: true
    rr: 6.0
  LTCUSDT:
    enabled: true
    rr: 5.0
  KMNOUSDT:
    enabled: true
    rr: 10.0
  TIAUSDT:
    enabled: true
    rr: 5.0
  SNXUSDT:
    enabled: true
    rr: 4.0
  CVCUSDT:
    enabled: true
    rr: 4.0
  OLUSDT:
    enabled: true
    rr: 8.0
  SHIB1000USDT:
    enabled: true
    rr: 10.0
  IDUSDT:
    enabled: true
    rr: 10.0
  1000PEPEUSDT:
    enabled: true
    rr: 5.0
  ENSUSDT:
    enabled: true
    rr: 7.0
  RVNUSDT:
    enabled: true
    rr: 5.0
  METISUSDT:
    enabled: true
    rr: 7.0
  FORMUSDT:
    enabled: true
    rr: 10.0
  DYMUSDT:
    enabled: true
    rr: 4.0
  SAHARAUSDT:
    enabled: true
    rr: 4.0
  ERAUSDT:
    enabled: true
    rr: 10.0
  AXLUSDT:
    enabled: true
    rr: 5.0
  MERLUSDT:
    enabled: true
    rr: 5.0
  L3USDT:
    enabled: true
    rr: 9.0
  ETHUSDT:
    enabled: true
    rr: 6.0
  ALCHUSDT:
    enabled: true
    rr: 10.0
  REZUSDT:
    enabled: true
    rr: 9.0
  GUNUSDT:
    enabled: true
    rr: 10.0
  RDNTUSDT:
    enabled: true
    rr: 7.0
  ESUSDT:
    enabled: true
    rr: 9.0
  PUMPFUNUSDT:
    enabled: true
    rr: 4.0
  STORJUSDT:
    enabled: true
    rr: 6.0
  BLASTUSDT:
    enabled: true
    rr: 10.0
  C98USDT:
    enabled: true
    rr: 10.0
  CHRUSDT:
    enabled: true
    rr: 8.0
  EPTUSDT:
    enabled: true
    rr: 6.0
  PUNDIXUSDT:
    enabled: true
    rr: 6.0
  CTSIUSDT:
    enabled: true
    rr: 5.0
  JTOUSDT:
    enabled: true
    rr: 5.0
  BLURUSDT:
    enabled: true
    rr: 6.0
  HYPEUSDT:
    enabled: true
    rr: 5.0
  SSVUSDT:
    enabled: true
    rr: 4.0
  SYRUPUSDT:
    enabled: true
    rr: 4.0
  ORCAUSDT:
    enabled: true
    rr: 8.0
  SKYAIUSDT:
    enabled: true
    rr: 4.0
  POLYXUSDT:
    enabled: true
    rr: 9.0
  TONUSDT:
    enabled: true
    rr: 9.0
  HIGHUSDT:
    enabled: true
    rr: 4.0
  IPUSDT:
    enabled: true
    rr: 4.0
  AVLUSDT:
    enabled: true
    rr: 6.0
  IOTAUSDT:
    enabled: true
    rr: 6.0
  LISTAUSDT:
    enabled: true
    rr: 4.0
  ICNTUSDT:
    enabled: true
    rr: 6.0
  HUSDT:
    enabled: true
    rr: 4.0
  1000XECUSDT:
    enabled: true
    rr: 4.0
  SOLUSDT:
    enabled: true
    rr: 4.0
  SPELLUSDT:
    enabled: true
    rr: 10.0
  HEIUSDT:
    enabled: true
    rr: 10.0
  USELESSUSDT:
    enabled: true
    rr: 5.0
  ONGUSDT:
    enabled: true
    rr: 10.0
  ETCUSDT:
    enabled: true
    rr: 7.0
  BBUSDT:
    enabled: true
    rr: 5.0
  CKBUSDT:
    enabled: true
    rr: 10.0
  ATHUSDT:
    enabled: true
    rr: 4.0
  DEXEUSDT:
    enabled: true
    rr: 8.0
  AXSUSDT:
    enabled: true
    rr: 4.0
  MIRAUSDT:
    enabled: true
    rr: 8.0
  DODOUSDT:
    enabled: true
    rr: 4.0
  CARVUSDT:
    enabled: true
    rr: 10.0
  OBTUSDT:
    enabled: true
    rr: 6.0
  SUPERUSDT:
    enabled: true
    rr: 4.0
  1000BONKUSDT:
    enabled: true
    rr: 8.0
  SXTUSDT:
    enabled: true
    rr: 10.0
  MORPHOUSDT:
    enabled: true
    rr: 4.0
  EPICUSDT:
    enabled: true
    rr: 6.0
  ARKUSDT:
    enabled: true
    rr: 10.0
  NILUSDT:
    enabled: true
    rr: 7.0
  OPUSDT:
    enabled: true
    rr: 4.0
  POPCATUSDT:
    enabled: true
    rr: 8.0
  DASHUSDT:
    enabled: true
    rr: 10.0
  CETUSUSDT:
    enabled: true
    rr: 5.0
  NOTUSDT:
    enabled: true
    rr: 8.0
  HNTUSDT:
    enabled: true
    rr: 4.0
  NEWTUSDT:
    enabled: true
    rr: 4.0
  KAIAUSDT:
    enabled: true
    rr: 8.0
  DBRUSDT:
    enabled: true
    rr: 4.0
  LUMIAUSDT:
    enabled: true
    rr: 10.0
  KERNELUSDT:
    enabled: true
    rr: 4.0
  HOMEUSDT:
    enabled: true
    rr: 7.0
  LQTYUSDT:
    enabled: true
    rr: 4.0
telegram:
  chat_id: ${TELEGRAM_CHAT_ID}
  poll_mode: legacy
  probe:
    get_updates_once: true
    limit: 3
  token: ${TELEGRAM_BOT_TOKEN}
