bybit:
  base_url: https://api.bybit.com
  alt_base_url: https://api.bytick.com
  use_alt_on_fail: true
  ws_public: wss://stream.bybit.com/v5/public/linear
  ws_public_alt: wss://stream.bytick.com/v5/public/linear
  api_key: ${BYBIT_API_KEY}
  api_secret: ${BYBIT_API_SECRET}
trade:
  symbols:
  - 0GUSDT
  - 1000000BABYDOGEUSDT
  - 1000000MOGUSDT
  - 10000QUBICUSDT
  - 1000BONKUSDT
  - 1000CATUSDT
  - 1000PEPEUSDT
  - 1000TAGUSDT
  - 4USDT
  - AAVEUSDT
  - ADAUSDT
  - AERGOUSDT
  - AEROUSDT
  - AGLDUSDT
  - AIAUSDT
  - AIOZUSDT
  - AIXBTUSDT
  - AKEUSDT
  - ALCHUSDT
  - ALGOUSDT
  - ALICEUSDT
  - ALLOUSDT
  - ALPINEUSDT
  - ALUUSDT
  - ANIMEUSDT
  - ANKRUSDT
  - APEUSDT
  - APTUSDT
  - ARBUSDT
  - ARUSDT
  - ASPUSDT
  - ASRUSDT
  - ATOMUSDT
  - AUSDT
  - AVAAIUSDT
  - AVLUSDT
  - AVNTUSDT
  - AXSUSDT
  - BANANAS31USDT
  - BANANAUSDT
  - BANKUSDT
  - BANUSDT
  - BBUSDT
  - BEAMUSDT
  - BEATUSDT
  - BELUSDT
  - BIOUSDT
  - BLESSUSDT
  - BMTUSDT
  - BNBUSDT
  - BOMEUSDT
  - BRETTUSDT
  - BSUUSDT
  - BTCUSDT
  - BTRUSDT
  - BUSDT
  - C98USDT
  - CARVUSDT
  - CCUSDT
  - CETUSUSDT
  - CFXUSDT
  - CHILLGUYUSDT
  - CKBUSDT
  - CLANKERUSDT
  - CLOUDUSDT
  - COAIUSDT
  - COMPUSDT
  - COOKIEUSDT
  - COREUSDT
  - COTIUSDT
  - CROSSUSDT
  - CUSDT
  - DAMUSDT
  - DASHUSDT
  - DBRUSDT
  - DEEPUSDT
  - DENTUSDT
  - DGBUSDT
  - DIAUSDT
  - DODOUSDT
  - DOGEUSDT
  - DOODUSDT
  - DYDXUSDT
  - EDUUSDT
  - EIGENUSDT
  - ELXUSDT
  - EPICUSDT
  - EPTUSDT
  - ERAUSDT
  - ETCUSDT
  - ETHFIUSDT
  - ETHUSDT
  - EULUSDT
  - EVAAUSDT
  - FFUSDT
  - FIDAUSDT
  - FLOCKUSDT
  - FLUIDUSDT
  - FLUXUSDT
  - FORMUSDT
  - FUSDT
  - GIGAUSDT
  - GIGGLEUSDT
  - GLMUSDT
  - GNOUSDT
  - GODSUSDT
  - GRASSUSDT
  - GRIFFAINUSDT
  - HANAUSDT
  - HBARUSDT
  - HFTUSDT
  - HIVEUSDT
  - HMSTRUSDT
  - HOLOUSDT
  - HUSDT
  - HYPERUSDT
  - ICNTUSDT
  - ICPUSDT
  - IDEXUSDT
  - ILVUSDT
  - IMXUSDT
  - INITUSDT
  - INJUSDT
  - IOSTUSDT
  - JASMYUSDT
  - JCTUSDT
  - JELLYJELLYUSDT
  - JTOUSDT
  - KAVAUSDT
  - KERNELUSDT
  - KGENUSDT
  - KITEUSDT
  - KMNOUSDT
  - KNCUSDT
  - LABUSDT
  - LAUSDT
  - LIGHTUSDT
  - LINKUSDT
  - LRCUSDT
  - LTCUSDT
  - MAGICUSDT
  - MANAUSDT
  - MAVIAUSDT
  - MERLUSDT
  - METISUSDT
  - METUSDT
  - MEUSDT
  - MEWUSDT
  - MINAUSDT
  - MMTUSDT
  - MNTUSDT
  - MOCAUSDT
  - MONUSDT
  - MOODENGUSDT
  - MUSDT
  - MYXUSDT
  - NAORISUSDT
  - NEARUSDT
  - NEOUSDT
  - NFPUSDT
  - NKNUSDT
  - NSUSDT
  - OKBUSDT
  - OMUSDT
  - ONDOUSDT
  - ONEUSDT
  - OPUSDT
  - ORDIUSDT
  - PARTIUSDT
  - PEAQUSDT
  - PENDLEUSDT
  - PENGUUSDT
  - PEOPLEUSDT
  - PIEVERSEUSDT
  - PIGGYUSDT
  - PIPPINUSDT
  - PLUMEUSDT
  - POLUSDT
  - POPCATUSDT
  - PRCLUSDT
  - PROMPTUSDT
  - PTBUSDT
  - PUFFERUSDT
  - PUMPFUNUSDT
  - PYRUSDT
  - PYTHUSDT
  - QNTUSDT
  - RAREUSDT
  - RAYDIUMUSDT
  - RECALLUSDT
  - REDUSDT
  - REQUSDT
  - RESOLVUSDT
  - REZUSDT
  - ROAMUSDT
  - RONINUSDT
  timeframe: '15'
  risk_usd: 10
  risk_percent: 1.0
  use_percent_risk: true
  use_ema: false
  ema_len: 200
  use_vol: false
  vol_len: 20
  vol_mult: 1.2
  atr_len: 14
  sl_buf_atr: 1.5
  rr: 2.5
  both_hit_rule: SL_FIRST
  confirmation_candles: 2
  use_ml_scoring: false
  ml_min_score: 70.0
  enable_ml_evolution: false
  use_symbol_clusters: true
  use_ml_dynamic_risk: false
  ml_risk_min_score: 70.0
  ml_risk_max_score: 85.0
  ml_risk_min_percent: 2.0
  ml_risk_max_percent: 4.0
  use_regime_switching: false
  use_enhanced_parallel: true
  fee_total_pct: 0.0011
ml:
  fail_open_on_error: false
phantom:
  ungated_trend: true
  none_cap: 180
  cluster3_cap: 45
  offhours_cap: 15
  hourly_symbol_budget:
    trend: 1
    mr: 2
    scalp: 12
  caps:
    trend:
      none: 120
      cluster3: 45
      offhours: 30
    mr:
      none: 180
      cluster3: 45
      offhours: 30
    scalp:
      none: 600
      cluster3: 120
      offhours: 80
  enable_virtual_snapshots: false
  virtual_snapshots_delta: 5
  cancel_on_execute: true
exploration:
  enabled: true
telegram:
  token: ${TELEGRAM_BOT_TOKEN}
  chat_id: ${TELEGRAM_CHAT_ID}
  probe:
    get_updates_once: true
    limit: 3
  poll_mode: legacy
network:
  monitor:
    enabled: true
    interval_sec: 60
phantom_flow:
  enabled: true
  daily_target:
    trend: 200
    mr: 200
    scalp: 200
  smoothing_hours: 2
  relax_limits:
    trend:
      slope: 1.5
      ema_stack: 15.0
      breakout: 0.08
    mr:
      rc: 0.3
      touches: 3
      dist_mid_atr: 0.4
      rev_atr: 0.4
    scalp:
      slope: 0.6 # Changed from 0.6 for faster scalping
      vwap_dist_atr: 0.6
      bb_width_pct: 0.3
      vol_ratio: 0.4
      wick: 0.15
  relax_mode:
    enable_deficit: true
    deficit_scale: 0.3
    weight_deficit: 0.6
    catchup:
      enabled: true
      pace_gap_trades: 8
      boost_base: 0.3
      boost_slope: 0.02
      max_boost: 0.4
    min_relax:
      trend: 0.4
      mr: 0.8
      scalp: 0.6
    wr_guard:
      enabled: true
      window: 40
      min_wr: 40.0
      cap: 0.5
  session_multipliers:
    trend:
      asian: 0.8
      european: 1.0
      us: 1.1
      off_hours: 0.7
    mr:
      asian: 0.9
      european: 1.1
      us: 1.0
      off_hours: 0.8
    scalp:
      asian: 1.0
      european: 1.1
      us: 1.2
      off_hours: 0.9
  burst:
    enabled: true
    no_accept_minutes: 30
    boost: 0.25
    max_boost: 0.4
strategy_isolation:
  enabled: false
  execution_policy: arbitrate
  min_quality_guards:
    trend:
      slope_min: 3.0
      ema_stack_min: 40.0
      breakout_min: 0.1
    mr:
      rc_min: 0.45
      touches_min: 3
      dist_mid_atr_min: 0.3
      rev_candle_atr_min: 0.7
    scalp:
      vwap_dist_atr_max: 1.2
      min_bb_width_pct: 0.4
      vol_ratio_min: 0.9
strategy_independence:
  enabled: true
scalp:
  enabled: true
  stream_3m_only: true
  timeframe: 3
  rr: 2.1
  use_ml: false
  threshold: 70
  block_regime: true
  dedup_enabled: false
  session_only: []
  notifications:
    blocks:
      enabled: true
      pre_gate_enabled: false
      rate_limit_sec: 600
  min_r_pct: 0.005
  dedup_hours: 3
  cooldown_bars: 4
  
  signal:
    vwap_only: false
    vwap_require_alignment: true
    vwap_pattern: bounce
    ema_trend_filter: true
    ema_fast: 8
    ema_slow: 21
    bb_width_threshold: 0.002
    volume_ratio_threshold: 1.2
    body_ratio_threshold: 0.4
    wick_delta_threshold: 0.0005
    vwap_distance_threshold: 0.008
  hard_gates:
    apply_to_exec: true
    apply_to_phantoms: false
    htf_enabled: false
    htf_min_ts15: 70.0
    vol_enabled: false
    vol_ratio_min_3m: 1.3
    body_enabled: false
    body_ratio_min_3m: 0.3
    wick_enabled: false
    wick_delta_min: 0.12
    regime_enabled: false
    allowed_regimes:
    - normal
    - high
    align_15m_enabled: false
    leader_align_btc_enabled: false
    slope_enabled: false
    slope_mode: trend
    slope_fast_only: false
    slope_fast_min_pb: 0.03
    slope_slow_min_pb: 0.015
    slope_use_ranges: true
    slope_long_fast_min: 0.0
    slope_long_fast_max: 0.03
    slope_long_slow_min: 0.015
    slope_long_slow_max: 999.0
    slope_short_fast_min: -0.03
    slope_short_fast_max: 0.0
    slope_short_slow_min: -999.0
    slope_short_slow_max: -0.015
    bbw_exec_enabled: false
    bbw_min_pct: 0.6
    bbw_max_pct: 0.9
    vwap_exec_enabled: false
    vwap_dist_atr_min: 0.4
    vwap_dist_atr_max: 0.8
  logging:
    heartbeat: true
    decision_only: false
    kline_trace: false
    warm_start_heartbeat: true
  debug:
    force_accept: false
  promote_enabled: false
  promote_min_samples: 200
  promote_min_wr: 50.0
  daily_exec_cap: 20
  promote_metric: recent
  promote_window: 50
  promote_recent_secs: 30
  context:
    use_3m_context: true
    enforce: false
  explore:
    relax_enabled: true
    vwap_dist_atr_max: 1.2
    min_bb_width_pct: 0.55
    vol_ratio_min: 1.05
    wick_ratio_min: 0.2
    timeout_hours: 8
  backfill:
    active_labeling: false
    ml_enabled: false
  exec:
    enabled: true
    risk_percent: 1.0
    daily_cap: 0
    adaptive_risk:
      enabled: false
      use_for_high_wr: false
      base_percent: 0.5
      min_percent: 0.5
      max_percent: 2.0
      min_samples: 30
      ev_floor_r: 0.0
      wr_lb_ladder:
        40: 1.0
        50: 4.0
      recency:
        days: 7
        min_samples: 15
        prefer_only: true
        ev_floor_r: 0.0
    combos_only: true
    block_noncombo: true
    mute_disabled_paths: false
    require_combo_enabled: true
    fallback_until_ready: pro
    manager_fresh_hours: 6
    blocked_notify: true
    extra_vol_gate:
      enabled: false
      min_ratio: 1.2
      notify: true
    adaptive_combos:
      enabled: true
      use_ev_r_only: true
      use_ev_r_confidence: true
      ev_r_confidence_level: 0.95
      ev_floor_r: 0.3
      min_wr_threshold: 42.0
      min_wr_threshold_long: 42.0
      min_wr_threshold_short: 44.0
      min_sample_size: 30
      use_wilson_lb: true
      update_frequency_trades: 50
      update_frequency_hours: 1
      lookback_days: 30
      long_short_separate: true
      hysteresis_pct: 2.0
      notify_changes: true
      strict_side_keys: true
