ADAUSDT: {enabled: true, rr: 8.0}
ARBUSDT: {enabled: true, rr: 5.5}
AVAXUSDT: {enabled: true, rr: 7.0}
BCHUSDT: {enabled: true, rr: 7.0}
DASHUSDT: {enabled: true, rr: 5.5}
DOGEUSDT: {enabled: true, rr: 4.0}
DOTUSDT: {enabled: true, rr: 8.0}
ENAUSDT: {enabled: true, rr: 2.0}
ETCUSDT: {enabled: true, rr: 4.0}
FLOWUSDT: {enabled: true, rr: 6.0}
GALAUSDT: {enabled: true, rr: 4.5}
GASUSDT: {enabled: true, rr: 8.0}
LINKUSDT: {enabled: true, rr: 6.0}
LTCUSDT: {enabled: true, rr: 3.0}
NEARUSDT: {enabled: true, rr: 5.5}
NTRNUSDT: {enabled: true, rr: 5.5}
OPUSDT: {enabled: true, rr: 7.0}
PAXGUSDT: {enabled: true, rr: 8.0}
SEIUSDT: {enabled: true, rr: 8.0}
STRKUSDT: {enabled: true, rr: 7.0}
TRUUSDT: {enabled: true, rr: 8.0}
TRXUSDT: {enabled: true, rr: 3.5}
VIRTUALUSDT: {enabled: true, rr: 6.0}
XLMUSDT: {enabled: true, rr: 5.5}
